// colors::after

$black: #0c0c0f;
$black-mid: #141419;
$black--light: #303030;
$primary: #5194AE;
$primary--dark: #4A69BC;
$white: #D8D8D8;
$grey: #9B9BA1;

$warning: #fcb7b8;
$warning--dark:#8d2728;